In [5]:
from model import Tweets, engine
from streamer import session

import os

import pandas as pd
import geopandas as gpd

In [3]:
df = pd.read_sql_table("tweets", con=engine)
print(df.shape)
df.head()

(9768, 5)

,id,tweet,timestamp,longitude,latitude
0,1243926213325991938,299 cases of #coronavirus in Mecklenburg Count...,2020-03-28 15:41:34,-80.846785,35.209059
1,1243926289716842496,Hey all you #MAGA #BoycottFox enough of this c...,2020-03-28 15:41:53,-77.604684,41.117936
2,1243926297128120322,If you run out of toilet paper ðŸ§» or paper towe...,2020-03-28 15:41:54,-83.173867,32.678207
3,1243926355047149568,@KTLA @glenwalkerktla #coronavirus @MayorOfLA ...,2020-03-28 15:42:08,-118.608094,34.185857
4,1243926372311085064,You are so right. This is a draft dodger. He h...,2020-03-28 15:42:12,-87.746654,41.480941

In [80]:
votes = pd.read_csv('https://raw.githubusercontent.com/tonmcg/US_County_Level_Election_Results_08-16/master/2016_US_County_Level_Presidential_Results.csv')
#Remove " County" for clean merge
votes['county_name'] = votes['county_name'].str.replace(' County', '')
print(votes.shape)
print(votes['county_name'].value_counts().nlargest(25))
votes.head()

(3141, 11)
Washington    30
Alaska        29
Jefferson     25
Franklin      24
Jackson       23
Lincoln       23
Madison       19
Clay          18
Montgomery    18
Union         17
Marion        17
Monroe        17
Wayne         16
Greene        14
Grant         14
Warren        14
Carroll       13
Adams         12
Douglas       12
Marshall      12
Clark         12
Polk          12
Johnson       12
Lake          12
Lee           12
Name: county_name, dtype: int64

,Unnamed: 0,votes_dem,votes_gop,total_votes,per_dem,per_gop,diff,per_point_diff,state_abbr,county_name,combined_fips
0,0,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2013
1,1,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2016
2,2,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2020
3,3,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2050
4,4,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2060

In [81]:
path_to_shape = os.path.join('UScounties', 'UScounties.shp')
shapefile = gpd.read_file(path_to_shape)
shapefile = shapefile.rename(columns={'NAME':'county_name'})
print(shapefile.shape)
print(shapefile['county_name'].value_counts().nlargest(10))
shapefile.head()

(3141, 6)
Washington    31
Jefferson     26
Franklin      25
Lincoln       24
Jackson       24
Madison       20
Montgomery    18
Union         18
Clay          18
Monroe        17
Name: county_name, dtype: int64

,county_name,STATE_NAME,STATE_FIPS,CNTY_FIPS,FIPS,geometry
0,Lake of the Woods,Minnesota,27,077,27077,"POLYGON ((-95.34283 48.54668, -95.34105 48.715..."
1,Ferry,Washington,53,019,53019,"POLYGON ((-118.85163 47.94956, -118.84846 48.4..."
2,Stevens,Washington,53,065,53065,"POLYGON ((-117.43883 48.04412, -117.54219 48.0..."
3,Okanogan,Washington,53,047,53047,"POLYGON ((-118.97209 47.93915, -118.97406 47.9..."
4,Pend Oreille,Washington,53,051,53051,"POLYGON ((-117.43858 48.99992, -117.03205 48.9..."

In [82]:
# shapefile = shapefile[['county_name', 'STATE_NAME', 'geometry']].merge(votes,
#                                                            on='county_name', how='left')
votes = shapefile.merge(votes, on='county_name', how='left')
print(votes['county_name'].value_counts().nlargest(25))
print(votes.shape)
votes.head()
# shapefile.drop(['total_votes', 'diff', 'votes_dem', 'votes_gop'], axis=1, inplace=True)

Washington    930
Jefferson     650
Franklin      600
Lincoln       552
Jackson       552
Madison       380
Clay          324
Montgomery    324
Union         306
Marion        289
Monroe        289
Wayne         256
Grant         210
Warren        196
Greene        196
Carroll       169
Polk          144
Douglas       144
Lee           144
Marshall      144
Johnson       144
Clark         144
Adams         144
Lake          144
Crawford      121
Name: county_name, dtype: int64
(14732, 16)

,county_name,STATE_NAME,STATE_FIPS,CNTY_FIPS,FIPS,geometry,Unnamed: 0,votes_dem,votes_gop,total_votes,per_dem,per_gop,diff,per_point_diff,state_abbr,combined_fips
0,Lake of the Woods,Minnesota,27,077,27077,"POLYGON ((-95.34283 48.54668, -95.34105 48.715...",1351.0,553.0,1540.0,2230.0,0.247982,0.690583,987,44.26%,MN,27077.0
1,Ferry,Washington,53,019,53019,"POLYGON ((-118.85163 47.94956, -118.84846 48.4...",2961.0,1091.0,2178.0,3560.0,0.306461,0.611798,"1,087",30.53%,WA,53019.0
2,Stevens,Washington,53,065,53065,"POLYGON ((-117.43883 48.04412, -117.54219 48.0...",981.0,215.0,1564.0,1853.0,0.116028,0.844037,"1,349",72.80%,KS,20189.0
3,Stevens,Washington,53,065,53065,"POLYGON ((-117.43883 48.04412, -117.54219 48.0...",1387.0,2116.0,2800.0,5350.0,0.395514,0.523364,684,12.79%,MN,27149.0
4,Stevens,Washington,53,065,53065,"POLYGON ((-117.43883 48.04412, -117.54219 48.0...",2984.0,4348.0,11059.0,16438.0,0.264509,0.672770,"6,711",40.83%,WA,53065.0